<html>

 

<body>
    <form action='https://secure.payu.in/_payment' method='post'>
        <input type="hidden" name="key" value="BAsyoI" />
        <input type="hidden" name="txnid" value="PQI6MqpYrjEefU" />
        <input type="hidden" name="productinfo" value="Test product" />
        <input type="hidden" name="amount" value="100.00" />
        <input type="hidden" name="email" value="gs74340@gmail.com" />
        <input type="hidden" name="firstname" value="Govind Sharma" />
        <input type="hidden" name="surl" value="http://localhost:5000https://pay.toddapple.live/placeOrder3/payumoney/response" />
        <input type="hidden" name="furl" value="http://localhost:5000https://pay.toddapple.live/placeOrder3/payumoney/response" />
        <input type="hidden" name="phone" value="8120441687" />
        <input type="hidden" name="hash" value="a76d1c30073a5b9eda4046c816328340c43f2b5168fd6e3256e7884f31169ca859da9ec85fbfc7e64dfe051af72d743eec29add8ce75939901e009bbbabe06f9
        " />
        <input type="submit" value="submit">
    </form>
</body>

 

</html>